:root {
    --text-color: #555;
    --background: #ee4d31;
    --price-color: #d2a138;
    --text-hover: #ebebeb;
    --title-color: #d2a138;
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', 'san-serif';
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    background: var(--background);
    color: #fff;
    padding: 0.8rem 3rem;
    margin: 3rem 0;
    border-radius: 3rem;
    transition: background 0.5s;
}

.btn:hover {
    background: #b1351f;
}

.btn-product {
    background: #2f312f;
    color: #fff;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    
}

/*--------header--------*/
header {
    background: radial-gradient(#fff, #FFD471);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
}

.cart {
    transition: all 0.3s;
}

.cart:hover .no-cart,
.cart:hover .cart__link-img::after {
    display: block;
}

.cart__link-img {
    display: inline-block;
    position: relative;
}

.cart__link-img:hover .no-cart {
    display: block;
}

.cart__link-img::after {
    content: "";
    position: absolute;
    border-top: 14px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;
    bottom: -15px;
    right: 3px;
    display: none;
}

.no-cart {
    position: absolute;
    background: #fff;
    padding: 2rem 1rem;
    top: 7.2rem;
    right: 4rem;
    display: none;
    transition: all 0.3s;
    color: var(--text-color);
}

.intro {
    margin-top: 5rem;
    line-height: 1.4;
    align-items: center;
    padding-bottom: 4rem;
}

.intro i {
    margin-left: 4px;
}

.intro__title {
    font-size: 5rem;
}

.intro__desc {
    color: var(--text-color);
}

.category {
    margin-top: 8rem;
}

.category img {
    width: 100%;
}